/*this is for styling the layout*/
body{
    font-family: 'verdana';/*font type*/
    background-color: #333;
    font-size: 16px;
    color: white;
    text-align: center;/*this will  position the value at the center horizontally*/

}


/*/*This class is for the header at the top"Top 10 movies for five genres*/
header h1{
    border: 1px solid black;
    font-size: xx-large;
    color:black;
    background-color:honeydew;
}

/*The name below the navbar that has the name of that specific page(i.e name of the movie or actor)*/
header h2 {
    border: 1px solid black;
    padding: 20px;
    font-size: x-large;
    color:black;
    background-color:beige;
}


/* Navbar */
nav {
    background-color: #333; /* Light black background */
    border-bottom: 2px solid #dc3545; /* Red line at the bottom */
    padding: 1%;
    display: flex; /* Use flexbox to align items */
    flex-wrap: wrap;
    justify-content: center; /* Center the buttons */
    align-items: center;
    margin-bottom: 2%;
    z-index: 1000; /* Ensure the navbar stays above other content */
}

/* Make the navbar sticky */
.sticky-navbar {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    width: 100%;
}

/* Navbar links */
.login-admin a {
    color: white; /* White text */
    padding: 10px 20px; 
    text-decoration: none;
    border-radius: 10%;
    display: inline-block;
    transition: background-color 0.3s ease; /* Smooth transition */
    font-size: inherit; /* Inherit font size from nav */
}

nav a:hover, .dropbtn:hover {
    background-color: #dc3545; /* Change to red on hover */
}

.dropbtn {
    background-color: #333;
    border: none;
    cursor: pointer;
    font-family: inherit;
    width: 100%; /* Set the width */
}

/* Sticker Image */
.sticker {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1001; /* Ensure it is on top of other elements */
}

.sticker img {
  width: 60px; /* Adjust size as needed */
  height: auto; /* Maintain aspect ratio */
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: inherit; /* Inherit font size from nav */
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: inherit; /* Inherit font size from nav */
}

.dropdown-content a:hover {
    background-color: #dc3545; /* Slightly lighter black on hover */
}

/* show the list when the cursor is hovered on the link*/
.dropdown:hover .dropdown-content {
    display: block;
}

.arrow-down {
    margin-left: 5px;
    transition: transform 0.3s ease;
}

/* Light-colored separator line between buttons */
.login-admin, .dropbtn{
    border-left: 1px solid #555; /* Light color line */
    border-right: 1px solid #555; /* Light color line */
}

/* Style for the dropdowns with the class "styled-dropdown" */
.styled-dropdown {
    background-color: #f0f0f0; /* Background color of the dropdown */
    border: 1px solid #ccc; /* Border color */
    border-radius: 10%; /* Rounded corners */
    padding: 10px; /* Padding inside the dropdown */
    font-size: inherit; /* Font size */
    color: #333; /* Font color */
    appearance: none; /* Remove default dropdown arrow */
    -webkit-appearance: none; /* For Safari */
    font-family: inherit;
    -moz-appearance: none; /* For Firefox */
    position: relative; /* Required for custom arrow */
    padding-right: 30px; /* Space for the arrow */
}

/* Custom arrow styling */
.styled-dropdown-container {
    position: relative;
    display: inline-block;
}

.styled-dropdown-container::after {
    content: '\25BC'; /* Unicode character for the down arrow */
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: inherit;
    color: #333; /* Arrow color */
    pointer-events: none; /* Prevent interaction with the arrow */
}


/* Hover effect for the dropdown */
.styled-dropdown:hover {
    background-color: #fff; /* Change background on hover */
}

button {
    background-color: #dc3545; /* Button background color */
    color: white; /* Button text color */
    border: none; /* Remove default border */
    border-radius: 4px; /* Rounded corners */
    padding: 10px 20px; /* Padding inside the button */
    font-size: inherit; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
}

button:hover {
    background-color: darkred; /* Darker shade on hover */
}


/* game list page */
.item-link {
    text-decoration: none; /* Remove underline from links */
    color: inherit; /* Inherit text color from parent */
}

.item {
    display: inline-block;
    text-align: center;
    background-color: #333;
    margin: 1%;
    aspect-ratio: 1 / 1;
    margin-top: 1%;
    border: 1px solid #ddd;
    border-radius: 5%;
    padding: 1%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 25%;
    height: 20%; /* Fixed height to ensure boxes are the same size */
    transition: transform 0.2s;
    overflow: hidden; /* Ensures content does not overflow */
    position: relative; /* Allows positioning of children */
}

.item:hover {
    transform: scale(1.05);
    background-color: #dc3545;
}

.image {
    width: 100%;
    height: 70%; /* Adjust height percentage to fit within item */
    object-fit: cover; /* Ensures the image covers the area without stretching */
    border-radius: 5%;
    border-bottom: 1px solid #ddd;
}

.item-content {
    height: 30%; /* Adjust based on remaining space */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers text content vertically */
}


.name {
    font-size: 2vw; /* Sets the font size */
    color: white; /* Sets the text color */
}

/* Container for the grid */
.user-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust the minmax value as needed */
    text-align: center;
    gap: 20px; /* Space between grid items */
    padding: 20px; /* Padding around the grid */
    max-width: 1200px; /* Set a maximum width for the grid */
    margin: 0 auto; /* Center the grid horizontally */
    
}

/* Individual user card */
.user-card {
    border: 1px solid white; /* Dark border for the card */
    border-radius: 8px; /* Rounded corners */
    overflow: hidden; /* Hide overflow to keep the rounded corners clean */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Slightly darker shadow */
    background-color: #2c2c2c; /* Light black color for the card background */
    padding: 15px; /* Padding inside the card */
    text-align: center; /* Center text inside the card */
    background-color: #333; /* White text color for contrast */
}

/* Style for images */
.user-card img {
    width: 100%; /* Make the image fill the card width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 50%; /* Make image circular (optional) */
    margin-bottom: 10px; /* Space below the image */
}

/* Style for user information */
.user-info p {
    margin: 10px 0; /* Space around the paragraphs */
}

/* Style for buttons */
.approve-btn, .reject-btn {
    display: inline-block; /* Make buttons inline with each other */
    padding: 10px 15px; /* Padding inside the buttons */
    margin: 5px; /* Space around the buttons */
    color: #fff; /* Text color */
    text-decoration: none; /* Remove underline */
    border-radius: 5px; /* Rounded corners */
    font-size: inherit; /* Font size */
}

.approve-btn {
    background-color: #28a745; /* Green color for approve button */
}

.reject-btn {
    background-color: #dc3545; /* Red color for reject button */
}

/* detailed page */
.image-text-row {
    display: flex; /* Align items in a row */
    align-items: center; /* Center items vertically */
    margin-bottom: 1%; /* Space between rows */
}

.images-size {
    height: 22vw; 
    width: 40vw; /* Maintain aspect ratio */
    border-radius: 5%;
    margin-right: 1%; /* Space between image and line */
    object-fit:fill; /* Ensure the image covers the assigned height */
}

.red-line {
    width: 0.3%; /* Thickness of the line */
    background-color: #dc3545; /* Color of the line */
    height: 20vw; /* Match the height of the image */
    margin: 1%; /* Space around the line */
}

.text-content {
    flex: 1; /* Take remaining space */
    display: flex;
    font-size: 1.5vw; /* Font size scales with viewport width */
    flex-direction: column;
    max-width: 100%; /* Adjust as needed */
    overflow-wrap: break-word; /* Ensures long words break and wrap */
    word-wrap: break-word; /* Older property for backward compatibility */
    word-break: break-word; /* Optional: breaks words at arbitrary points if needed */
    justify-content: center; /* Center text vertically */
    text-align: left;
    padding: 1%;
}


/* Reset margin and padding for list items */
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

li {
    margin: 0;
    padding: 0;
}

/* Reset margin and padding for paragraphs */
p {
    margin: 0;
    padding: 0;
}

a {
    color: #dc3545;
    text-decoration: none;
}

a:hover{
    color: white;
}

.title{
    flex-direction: column;
    justify-content: center; /* Center text vertically */
    margin-bottom: 1%;
    font-size: 3vw;
}

.red-h-line {
    border: 0;
    height: 1px;
    background-color: #dc3545;
    margin: 1% 0; /* Adjust margin as needed */
}

.page-name {
    background-color: #333;
    font-size: 1.5vw;
    margin: 1vw;
    border: 0.5vw solid #dc3545;
    padding: 1vw; /* Adjust the padding as needed */
    display: inline-block; /* Shrink-wrap the content */
}

.page-name h1 {
    margin: 0; /* Remove the default margin */
    padding: 0; /* Remove any padding */
    color: #fff; /* Optional: set text color to white for better contrast */
}

/* dashboard */
.dashboard-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2% auto; /* Center the container and add space around */
    padding: 1%; /* Optional padding */
    gap: 2%; /* Space between items */
}

.fade{
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Popup container */
.popup {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black background with opacity */
  }
  
  /* Popup content */
  .popup-content {
    background-color: #333;
    margin: 15% auto; /* Centered horizontally and 15% from the top */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 40%; /* Could be more or less, depending on screen size */
    position: relative; /* Relative positioning to contain absolute children */
  }
  
  /* Close button */
  .close {
    color: white;
    font-size: 2vw; /* Adjust as needed */
    font-weight: bold;
    position: absolute; /* Absolute positioning */
    top: 10px; /* Distance from the top of the popup-content */
    right: 10px; /* Distance from the right of the popup-content */
    cursor: pointer; /* Pointer cursor on hover */
  }
  
  .close:hover,
  .close:focus {
    color: #ccc;
    text-decoration: none;
  }

  /* Style for the series name input */
.add_stuff_bar {
    width: 30%; /* Full width of the container */
    padding: 1%;
    border: 2px solid #ccc; /* Default border color */
    background-color: #333;
    color: #f0f0f0;
    border-radius: 5px;
    outline: none; /* Remove default focus outline */
    font-size: 100%; /* Font size */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    transition: border-color 0.3s, box-shadow 0.3s; /* Smooth transition for border color and shadow */
  }
  
  /* Placeholder styling */
  .add_stuff_bar::placeholder {
    color: #ccc; /* Placeholder text color */
  }
  
  /* Glow effect on focus */
  .add_stuff_bar:focus {
    border-color: red; /* Border color when focused */
    box-shadow: 0 0 8px rgba(255, 0, 0, 0.5); /* Red glow effect */
  }
  
/* Style for the popup button for Series */
#openPopupSeriesBtn {
    background-color: #dc3545; /* Red */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  #openPopupSeriesBtn:hover {
    background-color: darkred; /* Darker red */
  }
  
  /* Style for the popup button for Genre */
  #openPopupGenreBtn {
    background-color: #dc3545; /* Blue */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  #openPopupGenreBtn:hover {
    background-color: darkred; /* Darker blue */
  }
  

/* Button styling */
.toggle-button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: 0.2vw solid red;
    cursor: pointer;
    width: 20%;
    font-size: 16px;
    display: inline-block;
    margin-bottom: 5px;
    border-radius: 5px;
}

.toggle-button:hover {
    background-color: #555;
}

/* Label styling */
.dropdown-list label {
    display: block; /* Ensure each label is on its own line */
    padding: 5px;
    text-align: left;
    margin: 0;
    cursor: pointer;
}

/* Checkbox styling */
.checkbox-genre,
.checkbox-company,
.checkbox-director {
    margin-right: 10px; /* Space between checkbox and label */
}

/* dropdown list in add stuff pages */
.dropdown-list {
    display: none; /* Initially hidden */
    background-color: #dc3545;
    border: 1px solid #ccc;
    padding: 1%;
    width: 20%; /* Match the width of the button */
    max-height: 200px;
    overflow-y: auto; /* Scroll if content exceeds max height */
    position: absolute; /* Position absolutely relative to the button */
    left: 50%; /* Center the dropdown horizontally */
    transform: translateX(-50%); /* Adjust for centering */
    z-index: 1; /* Ensure it appears above other elements */
}

.dropdown-list label:hover {
    background-color: darkred;
    color: white; /* Optionally, change the text color for better contrast */
    padding: 5%;
}

/* Show dropdown list when active */
.toggle-button.active + .dropdown-list {
    display: block;
}

.error-message{
    color: red;
}