/*/*This class is for the header at the top"Top 10 movies for five genres*/
header h1{
    border: 1px solid black;
    font-size: xx-large;
    color:black;
    background-color:honeydew;
}

/*The name below the navbar that has the name of that specific page(i.e name of the movie or actor)*/
header h2 {
    font-family: 'verdana';
    border: 1px solid black;
    padding: 20px;
    font-size: x-large;
    color:black;
    background-color:beige;
}


/*this is for styling the layout*/
body{
    font-family: 'verdana';/*font type*/
    text-align: center;/*this will  position the value at the center horizontally*/

}


/* game list page */
.item-link {
    text-decoration: none; /* Remove underline from links */
    color: inherit; /* Inherit text color from parent */
}

.item {
    display: inline-block; /* Allows items to be on the same line if space permits */
    text-align: center; /* Centers the text and image */
    margin: 10px; /* Adds space around each game item */
    border: 1px solid #ddd; /* Adds a border around the container */
    border-radius: 8px; /* Rounds the corners of the border */
    padding: 10px; /* Adds space inside the border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds a shadow effect */
    width: 150px; /* Adjust the width as needed */
    transition: transform 0.2s; /* Smooth transition for scaling effect */
}

.item:hover {
    transform: scale(1.05); /* Slightly enlarge item on hover */
    background-color : red;
}

.image {
    width: 100%; /* Makes the image take up the full width of the container */
    height: auto; /* Maintains aspect ratio */
    border-bottom: 1px solid #ddd; /* Adds a line between the image and the text */
    margin-bottom: 5px; /* Adds space between the image and the text */
}

.name {
    font-size: 16px; /* Sets the font size */
    color: #333; /* Sets the text color */
    margin: 0; /* Removes default margin */
}

