{% extends "layout.html" %}
{% block content %}

<div class="page-name">
  <h1>ADD FOUNDER</h1>
</div>

  <!-- Form for adding a new founder -->
  <form method="POST" id="submit_founder_form" enctype="multipart/form-data" action="{{ url_for('add_founder') }}">
    {{ founder_form.hidden_tag() }}

    <!-- Founder name input field -->
    Name(required):<br><br>
          <input type="text" class="add_stuff_bar" maxlength="20" name="founder_name" placeholder="Add name(maxlength = 20)">
              {% if founder_form.founder_name.errors %}
                <span class="error-message">{{ founder_form.founder_name.errors[0] }}</span>
              {% endif %}
              <br><br>

    <!-- Section for selecting companies associated with the founder -->
    <p>
      <p>&#10024If company is not in the list, submit this founder and then go to add company page to add the corresponding company&#10024</p>
      <br>
      <button type="button" id="toggleFounderCompanies" class="toggle-button">
        Select Companies <span class="arrow-down" id="arrowFounderCompanies">&#9662;</span>
      </button>
      <div id="foundercompaniesList" class="dropdown-list">
        {% for company in founder_form.founder_companies.choices|sort(attribute=1) %}
          <label>
            <input type="checkbox" name="founder_companies" value="{{ company[0] }}">
            {{ company[1] }}
          </label><br>
        {% endfor %}
      </div>
    </p>
    <br><br>

    <!-- Founder age input field -->
    Age(required):<br><br>
    <input type="text" class="add_stuff_bar" maxlength="20" name="founder_date_of_birth" placeholder="Add Age(maxlength = 20)">
        {% if founder_form.founder_date_of_birth.errors %}
          <span class="error-message">{{ founder_form.founder_date_of_birth.errors[0] }}</span>
        {% endif %}
        <br><br>
        <p>
    
    <!-- Founder description input field -->
    Description(required):<br><br>
          <textarea maxlength="630" class="text-area" name="founder_description" placeholder="Add description(maxlength = 630)" rows="13" cols="80"></textarea>
            {% if founder_form.founder_description.errors %}
              <span class="error-message">{{ founder_form.founder_description.errors[0] }}</span>
            {% endif %}
            <br><br>
    
    <!-- Section for uploading images -->
    Add pictures(JPG ONLY!):
            <br><br>
            <div class="add-stuff-images">
              Picture 1: <input type="file" id="founder_picture_size_limit_1" class="add_stuff_bar" name="founder_picture_1">
              {% if founder_form.founder_picture_1.errors %}
              <span class="error-message">{{ founder_form.founder_picture_1.errors[0] }}</span>
              {% endif %}
              <br><br>
              Picture 2: <input type="file" id="founder_picture_size_limit_2" class="add_stuff_bar" name="founder_picture_2">
              {% if founder_form.founder_picture_2.errors %}
              <span class="error-message">{{ founder_form.founder_picture_2.errors[0] }}</span>
              {% endif %}
            </div>
            <br><br>

    <!-- Submit button to add founder -->
    <button type="submit" id="submit-founder-Button">Add founder</button>
  </form>
{% endblock %}