  {% extends "layout.html" %}
  {% block content %}
  <div class="page-name">
    <h1>ADD GAME</h1>
  </div>

  <div id="popup-games-series" class="popup">
    <div class="popup-content">
      <p class="note">*Add your considered series if it is not in the series list*</p>
      <br>
        <span id="closePopupGamesSeriesBtn" class="close">&times;</span>
        <form method="POST" id="submit_games_series_form" action="{{ url_for('add_game') }}">
          {{ series_form.hidden_tag() }}
          <input type="text" maxlength="20" class="add_stuff_bar" name="series_name" placeholder="maxlength = 20" required pattern="\S.+" title="Has to be more than one letter/cannot leave empty space."><br><br>
          <button type="submit" id="submit-games-series-Button">Add Series</button>
        </form>
    </div>
  </div>

  <br>

  <div id="popup-games-genre" class="popup">
    <div class="popup-content"> 
      <p class="note">*Add your considered genre if it is not in the genre list*</p>
      <br>
        <span id="closePopupGamesGenreBtn" class="close">&times;</span>
        <form method="POST"  id="submit_games_genre_form" action="{{ url_for('add_game') }}">
          {{ genre_form.hidden_tag() }}
          <input type="text" maxlength="20" class="add_stuff_bar" name="genre_name" placeholder="maxlength = 20" required pattern="\S.+" title="Has to be more than one letter/cannot leave empty space."><br><br>
          <button type="submit" id="submit-games-genre-Button">Add genre</button>
        </form>
    </div>
  </div>

  <div id="submit_game_form">
    <form method="POST" action="{{ url_for('add_game') }}" enctype="multipart/form-data">
      {{ game_form.csrf_token }} 
      Name(required):<br><br>
      <input type="text" class="add_stuff_bar" maxlength="20" name="game_name" placeholder="Game name(maxlength = 20)">
          {% if game_form.game_name.errors %}
            <span class="error-message">{{ game_form.game_name.errors[0] }}</span>
          {% endif %}
          <br><br>

          Your score(required):<br><br>
          <input type="text" class="add_stuff_bar" maxlength="10" name="game_dev_score" placeholder="Your score(?/10) maxlegth=10">
          {% if game_form.game_dev_score.errors %}
            <span class="error-message">{{ game_form.game_dev_score.errors[0] }}</span>
          {% endif %}
          <br><br>

          Release date(required):<br><br>
          <input type="text" class="add_stuff_bar" maxlength="20" name="game_date" placeholder="Realease date(maxlength = 20)">
          {% if game_form.game_date.errors %}
            <span class="error-message">{{ game_form.game_date.errors[0] }}</span>
          {% endif %}
          <br><br>
          <p class="note">*If director is not in the list submit this game and then go to add director page to add the considered director*</p>
          <br>
          <button type="button" id="toggleGamesDirectors" class="toggle-button">
            Select Directors <span class="arrow-down" id="arrowGamesDirectors">&#9662;</span>
          </button>
          <div id="gamesdirectorsList" class="dropdown-list">
            {% for director in game_form.game_directors.choices|sort(attribute=1) %}
              <label>
                <input type="checkbox" name="game_directors" value="{{ director[0] }}">
                {{ director[1] }}
              </label><br>
            {% endfor %}
          </div>
          <br><br>
        
          <p>
            <select name="game_series" class="toggle-button">
              <option>Choose series(required)</option>
              <div>
                {% for series in game_form.game_series.choices|sort(attribute=1) if series[1] != 'Choose series'%}
                <option value="{{ series[0] }}">{{ series[1] }}</option>
                {% endfor %}
              </div>
            </select>
            <button type="button" id="openPopupGamesSeriesBtn" class="open-popup-btn">Add Series</button>
            {% if game_form.game_series.errors %}
            <span class="error-message">{{ game_form.game_series.errors[0] }}</span>
            {% endif %}
          </p>
          <br><br>
        
          <p>
            <p class="note">*If company is not in the list submit this game and then go to add company page to add the considered company*</p>
            <br>
            <button type="button" id="toggleGamesCompanies" class="toggle-button">
              Select Companies <span class="arrow-down" id="arrowGamesCompanies">&#9662;</span>
            </button>
            <div id="gamescompaniesList" class="dropdown-list">
              {% for company in game_form.game_companies.choices|sort(attribute=1) %}
                <label>
                  <input type="checkbox" name="game_companies" value="{{ company[0] }}">
                  {{ company[1] }}
                </label><br>
              {% endfor %}
            </div>
          </p>
          <br><br>
        
          <p>
            <button type="button" id="toggleGamesGenres" class="toggle-button">
              Select Genres(required) <span class="arrow-down" id="arrowGamesGenres">&#9662;</span>
            </button>
            <button type="button" id="openPopupGamesGenreBtn" class="open-popup-btn">Add Genre</button>
            {% if game_form.game_genres.errors %}
            <span class="error-message">{{ game_form.game_genres.errors[0] }}</span>
            {% endif %}
            <div id="gamesgenresList" class="dropdown-list">
              {% for genre in game_form.game_genres.choices|sort(attribute=1) %}
                <label>
                  <input type="checkbox" name="game_genres" value="{{ genre[0] }}">
                  {{ genre[1] }}
                </label><br>
              {% endfor %}
            </div>
          </p>
          <br><br>
          
          Description(required):<br><br>
          <textarea maxlength="630" class="text-area" name="game_description" placeholder="Add description(maxlength = 630)" rows="13" cols="80"></textarea>
            {% if game_form.game_description.errors %}
              <span class="error-message">{{ game_form.game_description.errors[0] }}</span>
            {% endif %}
            <br><br>
    
            Gameplay(required):<br><br> 
            <textarea class="text-area" maxlength="630" name="game_gameplay" placeholder="Add gameplay(maxlength = 630)" rows="13" cols="80"></textarea>
            {% if game_form.game_gameplay.errors %}
              <span class="error-message">{{ game_form.game_gameplay.errors[0] }}</span>
            {% endif %}
            <br><br>
    
            Story(required):<br><br>
            <textarea class="text-area" maxlength="630" name="game_story" placeholder="Add story(maxlength = 630)" rows="13" cols="80"></textarea>
            {% if game_form.game_story.errors %}
              <span class="error-message">{{ game_form.game_story.errors[0] }}</span>
            {% endif %}
            <br><br>

            Soundtrack(required):<br><br>
            <textarea class="text-area" maxlength="630" name="game_soundtrack" placeholder="Add soundtrack(maxlength = 630)" rows="13" cols="80"></textarea>
            {% if game_form.game_soundtrack.errors %}
              <span class="error-message">{{ game_form.game_soundtrack.errors[0] }}</span>
            {% endif %}
            <br><br>  
            
            Reviews(required):<br><br>
            <textarea class="text-area" maxlength="630" name="game_reviews" placeholder="Add reviews(maxlength = 630)" rows="13" cols="80"></textarea>
            {% if game_form.game_reviews.errors %}
              <span class="error-message">{{ game_form.game_reviews.errors[0] }}</span>
            {% endif %}
            <br><br>

            Add pictures(JPG ONLY!):
            <br><br>
            <div class="add-stuff-images">
              Picture 1: <input type="file" id="game_picture_size_limit_1" class="add_stuff_bar" name="game_picture_1">
              {% if game_form.game_picture_1.errors %}
              <span class="error-message">{{ game_form.game_picture_1.errors[0] }}</span>
              {% endif %}
              <br><br>
              Picture 2: <input type="file" id="game_picture_size_limit_2" class="add_stuff_bar" name="game_picture_2">
              {% if game_form.game_picture_2.errors %}
              <span class="error-message">{{ game_form.game_picture_2.errors[0] }}</span>
              {% endif %}
              <br><br>
              Picture 3: <input type="file" id="game_picture_size_limit_3" class="add_stuff_bar" name="game_picture_3">
              {% if game_form.game_picture_3.errors %}
              <span class="error-message">{{ game_form.game_picture_3.errors[0] }}</span>
              {% endif %}
              <br><br>
              Picture 4: <input type="file" id="game_picture_size_limit_4" class="add_stuff_bar" name="game_picture_4">
              {% if game_form.game_picture_4.errors %}
              <span class="error-message">{{ game_form.game_picture_4.errors[0] }}</span>
              {% endif %}
              <br><br>
              Picture 5: <input type="file" id="game_picture_size_limit_5" class="add_stuff_bar" name="game_picture_5">
              {% if game_form.game_picture_5.errors %}
              <span class="error-message">{{ game_form.game_picture_5.errors[0] }}</span>
              {% endif %}
              <br><br>
              Picture 6: <input type="file" id="game_picture_size_limit_6" class="add_stuff_bar" name="game_picture_6">
              {% if game_form.game_picture_6.errors %}
              <span class="error-message">{{ game_form.game_picture_6.errors[0] }}</span>
              {% endif %}
            </div>
            <br><br>
    
      <button type="submit" id="submit-game-Button">Add this game</button>
    </form>
  </div>


  {% endblock %}