{% extends "layout.html" %}
{% block content %}
<div class="styled-dropdown-container">
    <select id="gameDropdown" class="styled-dropdown">
    <option value="all">All games</option>
    {% for game in games %}
        <option value="{{ game.id }}">{{ game.name }}</option>
    {% endfor %}
</select>
</div>

<div class="styled-dropdown-container">
    <select id="founderDropdown" class="styled-dropdown">
        <option value="all">All founders</option>
        {% for founder in founders %}
            <option value="{{ founder.id }}">{{ founder.name }}</option>
        {% endfor %}
    </select>
</div>

<div class="styled-dropdown-container">
    <select id="directorDropdown" class="styled-dropdown">
        <option value="all">All directors</option>
        {% for director in directors %}
            <option value="{{ director.id }}">{{ director.name }}</option>
        {% endfor %}
    </select>
</div>

<div class="styled-dropdown-container">
    <select id="seriesDropdown" class="styled-dropdown">
        <option value="all">All series</option>
        {% for series in series %}
            <option value="{{ series.id }}">{{ series.name }}</option>
        {% endfor %}
    </select>    
</div>

<div class="styled-dropdown-container">
    <select id="usersDropdown" class="styled-dropdown">
        <option value="all">All users</option>
        {% for user in users %}
            <option value="{{ user.id }}">{{ user.name }}</option>
        {% endfor %}
    </select>    
</div>


<button onclick="filterCompanies()">Apply Filters</button>

<ul id="companyList">
    <!-- This will be populated with company after filtering -->
</ul>
{% endblock %}
