{% extends "layout.html" %}
{% block content %}
<div class="page-name">
    <h1>Dashboard</h1>
</div>

<!-- Profile Box Section -->
<div>
    <div class="profile-box">
        <img src="{{ url_for('static', filename='user_images/' ~ user.picture) }}" alt="Picture" class="profile-image">
        <p class="user-name">{{ user.name }}</p>
        <button onclick="showSection('games')">Games added</button>
        <button onclick="showSection('founders')">Founders added</button>
        <button onclick="showSection('companies')">Companies added</button>
        <button onclick="showSection('directors')">Directors added</button>
    </div>
</div>


<!-- Sections that will be shown/hidden -->
<div id="games" class="section">
    <h3>Games added:</h3>
    <ul>
        {% if user_games %}
        {% for game in user_games %}
        <div class="item">
            <a href="/game/{{ game.id }}" class="item-link">
                {% if game.picture_1 %}
                <img src="{{ url_for('static', filename='games_images/' ~ game.picture_1) }}" alt="Games" class="image">
                {% else %}
                <img src="{{ url_for('static', filename='games_images/default_image.jpg') }}" alt="Default Game Picture" class="image">
                {% endif %}
                <div class="item-content">
                    <p>{{ game.name }}</p>
                </div>
            </a>
        </div>
        {% endfor %}
    {% else %}
        <p>No games added yet, <a href="/add_game">Add game?</a></p>
    {% endif %}
    </ul> 
</div>

<div id="founders" class="section" style="display:none;">
    <h3>Founders added:</h3>
    <ul>
        {% if user_founders %}
            {% for founder in user_founders %}
            <div class="item">
                <a href="/founder/{{ founder.id }}" class="item-link">
                    {% if founder.picture_1 %}
                    <img src="{{ url_for('static', filename='founders_images/' ~ founder.picture_1) }}" alt="Founders" class="image">
                    {% else %}
                    <img src="{{ url_for('static', filename='games_images/default_image.jpg') }}" alt="Default Game Picture" class="image">
                    {% endif %}
                    <div class="item-content">
                        <p>{{ founder.name }}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        {% else %}
            <li>No founders added yet, <a href="/add_founder">Add founder?</a></li>
        {% endif %}
    </ul>
</div>

<div id="companies" class="section" style="display:none;">
    <h3>Companies added:</h3>
    <ul>
        {% if user_companies %}
            {% for company in user_companies %}
            <div class="item">
                <a href="/company/{{ company.id }}" class="item-link">
                    {% if company.picture_1 %}
                    <img src="{{ url_for('static', filename='companies_images/' ~ company.picture_1) }}" alt="Companies" class="image">
                    {% else %}
                    <img src="{{ url_for('static', filename='games_images/default_image.jpg') }}" alt="Default Game Picture" class="image">
                    {% endif %}
                    <div class="item-content">
                        <p>{{ company.name }}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        {% else %}
            <li>No companies added yet, <a href="/add_company">Add company?</a></li>
        {% endif %}
    </ul>
</div>

<div id="directors" class="section" style="display:none;">
    <h3>Directors added:</h3>
    <ul>
        {% if user_directors %}
            {% for director in user_directors %}
            <div class="item">
                <a href="/director/{{ director.id }}" class="item-link">
                    {% if director.picture_1 %}
                    <img src="{{ url_for('static', filename='directors_images/' ~ director.picture_1) }}" alt="Directors" class="image">
                    {% else %}
                    <img src="{{ url_for('static', filename='games_images/default_image.jpg') }}" alt="Default Game Picture" class="image">
                    {% endif %}
                    <div class="item-content">
                        <p>{{ director.name }}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        {% else %}
            <li>No directors added yet, <a href="/add_directors">Add director?</a></li>
        {% endif %}
    </ul>
</div>
{% endblock %}
