{% extends "layout.html" %}
{% block content %}
<div class="page-name">
    <h1>DIRECTOR LIST</h1>
</div><br><br>


<div class="styled-dropdown-container">
    <select id="gameDropdown" class="styled-dropdown">
        <option value="all">All games</option>
        {% for game in games %}
            <option value="{{ game.id }}">{{ game.name }}</option>
        {% endfor %}
    </select>
</div>


<div class="styled-dropdown-container">
    <select id="companyDropdown" class="styled-dropdown">
        <option value="all">All companies</option>
        {% for company in companies %}
            <option value="{{ company.id }}">{{ company.name }}</option>
        {% endfor %}
    </select>
</div>


<div class="styled-dropdown-container">
    <select id="usersDropdown" class="styled-dropdown">
        <option value="all">All users</option>
        {% for user in users %}
            <option value="{{ user.id }}">{{ user.name }}</option>
        {% endfor %}
    </select>    
</div>

<button onclick="filterDirectors()">Apply Filters</button>

<ul id="directorList">
    <!-- This will be populated with company after filtering -->
</ul>
{% endblock %}
