{% extends "layout.html" %}
{% block content %}
<div class="styled-dropdown-container">
    <select id="companyDropdown" class="styled-dropdown">
        <option value="all">All companies</option>
        {% for company in companies %}
            <option value="{{ company.id }}">{{ company.name }}</option>
        {% endfor %}
    </select>
</div>


<div class="styled-dropdown-container">
    <select id="usersDropdown" class="styled-dropdown">
        <option value="all">All users</option>
        {% for user in users %}
            <option value="{{ user.id }}">{{ user.name }}</option>
        {% endfor %}
    </select>    
</div>


<button onclick="filterFounders()">Apply Filters</button>

<ul id="founderList">
    <!-- This will be populated with company after filtering -->
</ul>
{% endblock %}
