<!doctype html>
<html>
    <head>
        <title>videogames boah</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/styles.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="/static/javascript/filter.js"></script>
        <script src="/static/javascript/dashboard.js"></script>
        <script src="/static/javascript/add_game.js"></script>
        <script src="/static/javascript/submit_limit.js"></script>
        <script src="/static/javascript/add_company.js"></script>
        <script src="/static/javascript/add_director.js"></script>
        <script src="/static/javascript/add_founder.js"></script>
        <script src="/static/javascript/register.js"></script>
    </head>
    <body  class="fade">

        {% include 'nav.html' %}

        <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                    {% for category, message in messages %}
                        <li class="flash {{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
        </main>
        
        <footer>
            <p>&copy; 2024 Videogames website | All rights reserved</p>
    <p> By Pourya That's it boah</p>
        </footer>
    </body>
</html>