<!doctype html>
<html>
    <head>
        <title>videogames boah</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/styles.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="/static/javascript/filter.js"></script>
        <script src="/static/javascript/dashboard.js"></script>
        <script src="/static/javascript/add_stuff.js"></script>
        <script src="/static/javascript/submit_limit.js"></script>
        <script src="/static/javascript/img-size-limit.js"></script>
    </head>
    <body  class="fade">

        {% include 'nav.html' %}

        <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul class="flashes">
                        {% for category, message in messages %}
                            <li class="flash-{{ category }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
        {% endwith %}
            {% block content %}{% endblock %}
        </main>
        
        <footer>
            that's it boah
        </footer>
    </body>
</html>