{% extends "layout.html" %}

{% block content %}
<form method="POST" action="{{ url_for('login') }}">
    {{ login_form.hidden_tag() }}
    <div>
        <label>Email:</label>
        {{ login_form.login_user_email() }} {{ login_form.login_user_email.errors }}
    </div>
    <div>
        <label>Password:</label>
        {{ login_form.login_user_password() }} {{ login_form.login_user_password.errors }}
    </div>
    {{ login_form.submit() }}
</form>
<a href="/register">Don't have an account? Register</a>
{% endblock %}
