<nav class="sticky-navbar">
    {% if session.get('user_id') == 17 %}
        <div class="login-admin">
            <a href="/admin">Admin</a>
        </div>
    {% else %}
    {% endif %}
    
    <!-- Lists Dropdown -->
    <div class="dropdown">
        <button class="dropbtn">Lists<span class="arrow-down">&#9662;</span></button>
        <div class="dropdown-content">
            <a href="/">Games</a>
            <a href="/company_list">Companies</a>
            <a href="/director_list">Directors</a>
            <a href="/founder_list">Founders</a>
            <a href="/user_list">Users</a>
        </div>
    </div>
    
    <!-- Add Stuff Dropdown -->
    <div class="dropdown">
        <button class="dropbtn">Add Stuff<span class="arrow-down">&#9662;</span></button>
        <div class="dropdown-content">
            <a href="/add_game">Add Game</a>
            <a href="/add_company">Add Company</a>
            <a href="/add_directors">Add Director</a>
            <a href="/add_founder">Add Founder</a>
        </div>
    </div>
    
    {% if session.get('user_id') %}
        <div class="dropdown">
            <button class="dropbtn">{{session['user_name']}} <span class="arrow-down">&#9662;</span></button>
            <div class="dropdown-content">
            <a href='/dashboard/{{session["user_id"]}}'>Dashboard</a>
            <a href="/logout">Logout</a>
            </div>    
        </div>
        
    {% else %}
        <div class="login-admin">
            <a href="/login">Login</a>
        </div>
    {% endif %}  

    <div class="sticker">
        <img src="/static/games_images/sticker.jpg">
    </div>
</nav>
