{% extends "layout.html" %}
{% block content %}

<div class="login-register-box">
    <div class="page-name">
        Register
    </div>
    <form id="registrationForm" method="POST" enctype="multipart/form-data" action="{{ url_for('register') }}">
        {{ username_form.hidden_tag() }}
        <div>Picture:
            <input type="file" id="user_picture" class="profile-image-button" class="profile-image-container" class="image-upload" name="user_picture">
            {% if username_form.user_picture.errors %}
            <span class="error-message">{{ username_form.user_picture.errors[0] }}</span>
            {% endif %}
        </div>
        
        <div>
            <input type="text" class="add_stuff_bar" maxlength="20" name="user_email" placeholder="Email (maxlength=20)">
            {% if username_form.user_email.errors %}
            <span class="error-message">{{ username_form.user_email.errors[0] }}</span>
            {% endif %}
        </div>
        <div>
            <input type="text" class="add_stuff_bar" maxlength="20" name="user_name" placeholder="Name (maxlength=20)">
            {% if username_form.user_name.errors %}
            <span class="error-message">{{ username_form.user_name.errors[0] }}</span>
            {% endif %}
        </div>
        <div>
            <input type="password" class="add_stuff_bar" maxlength="20" name="user_password" placeholder="Password (maxlength=20)">
            {% if username_form.user_password.errors %}
            <span class="error-message">{{ username_form.user_password.errors[0] }}</span>
            {% endif %}
        </div>
        <div>
            <input type="password" class="add_stuff_bar" maxlength="20" name="confirm" placeholder="Confirm Password (maxlength=20)">
            {% if username_form.confirm.errors %}
            <span class="error-message">{{ username_form.confirm.errors[0] }}</span>
            {% endif %}        
        </div>

        <button type="submit" id="submitButton">Register</button>
    </form>
</div>

<script>
document.addEventListener('DOMContentLoaded', () => {
    const pictureInput = document.getElementById('user_picture');
    const MAX_FILE_SIZE = 5 * 1024 * 1024; // 5 MB

    pictureInput.addEventListener('change', () => {
        const pictureFile = pictureInput.files[0];

        if (pictureFile && pictureFile.size > MAX_FILE_SIZE) {
            alert('File size exceeds 5 MB limit.');
            pictureInput.value = ''; // Clear the input to allow re-selection
        }
    });
});
</script>

{% endblock %}
